* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

/** Header **/

header {
    width: 100%;
    padding: 8px 0;
    background-color: #005f73;
    text-align: center;
}

header>.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: left;
}

.logo h2 {
    margin-top: 0.4%;
    display: inline-block;
}

.logo a {
    text-decoration: none;
    color: #e9d8a6;
}

.logo>i {
    font-size: 1.5em;
    margin-right: 0.3em;
    color: #e9d8a6;
}

/* Header in Dashboard */
.user-account {
    width: 50%;
    text-align: right;
}

.user-account .user-account-info {
    display: inline-block;
    margin-right: 0.5em;
}

.user-account .user-account-info i,
span {
    margin-right: 0.3em;
    color: #e9d8a6;
}

.user-account .user-account-info span:nth-child(3) {
    font-size: 0.8em;
}

.user-account .user-account-actions {
    display: inline-block;
}

.user-account a {
    text-decoration: none;
    color: #e9d8a6;
}

.drop-down-menu-container {
   display: inline-block;
}

.drop-down-menu-container .menu-text {
    display: inline-block;
    margin-right: 0.5em;
    color: #e9d8a6;
}

.drop-down-menu-container .menu-text i {
    margin-right: 0.3em;
    color: #e9d8a6;
}

.drop-down-menu-container .menu-text button {
    background-color: transparent;
    border: none;
    color: #e9d8a6;
    font-size: 1em;
    cursor: pointer;
}

.drop-down-menu-container .drop-down-menu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 20em;
    padding: 0.5em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5em;
    color: #000;
   text-align: center;
}

.drop-down-menu-container .drop-down-menu-content p {
    display: inline-block;
    color: #000;
    text-align: center;
}

.drop-down-menu-container .drop-down-menu-content span {
    display: inline-block;
    color: #000;
    text-align: center;
}

/* Login Form */

.login-form {
    width: 30%;
    height: auto;
    text-align: center;
    margin: 15vh auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form .top-form {
    background-color: #e9d8a6;
    padding: 1.5em;
    margin-bottom: 10%;
    border-radius: 5px 5px 0 0;
}

.login-form .top-form>h1 {
    font-size: 1.8em;
    color: #005f73;
}

.login-form form {
    width: 100%;
    padding: 2% 0;
    text-align: center;
}

.login-form input {
    width: 75%;
    padding: 0.5em;
    margin-bottom: 2em;
    border-radius: 0.3em;
    color: #005f73;
    padding: 1em;
    border: none;
}

.login-form input:focus {
    outline: none;
}

.login-form input[type="submit"] {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    padding: 1em;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
}

.login-form input[type="submit"]:hover {
    background-color: #044b5a;
}

.login-form a {
    margin-bottom: 2em;
}

.login-form a>p {
    color: #044b5a;
    font-size: 0.8em;
    margin-top: 0.5em;
}

#error-message {
    display: none;
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
}

/* Forget Password Form */

.form-forget-password {
    width: 30%;
    height: auto;
    text-align: center;
    margin: 15vh auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-forget-password .top-form {
    background-color: #e9d8a6;
    padding: 1.5em;
    margin-bottom: 10%;
    border-radius: 5px 5px 0 0;
}

.form-forget-password .top-form>h1 {
    font-size: 1.8em;
    color: #005f73;
}

.form-forget-password form {
    width: 100%;
    padding: 2% 0;
    text-align: center;
}

.form-forget-password form input {
    width: 75%;
    padding: 0.5em;
}

.form-forget-password form input[type="email"] {
    margin-bottom: 2em;
    padding: 1em;
    border: none;
    border-radius: 0.3em;
}

.form-forget-password form input[type="email"]:focus {
    outline: none;
}

.form-forget-password form input[type="submit"] {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2em;
}

.form-forget-password form input[type="submit"]:hover {
    background-color: #044b5a;
}

.modal-success {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.modal-success .modal-content {
    background-color: #fff;
    width: 40%;
    height: auto;
    margin: 27vh auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2em;
}

.modal-success .modal-content h1 {
    font-size: 1.8em;
    color: #005f73;
}

.modal-success .modal-content p {
    font-size: 1em;
}

.modal-success .modal-content button {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2em;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 1.8em;
}

.modal-success .modal-content button:hover {
    background-color: #044b5a;
}

.form-forget-password>#error-message {
    padding: 0.5em;
}

/* Reset Password Form */

.form-reset-password {
    width: 40%;
    height: auto;
    margin: 15vh auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-reset-password form {
    width: 100%;
}

.form-reset-password form .top-form {
    background-color: #e9d8a6;
    padding: 1.5em;
    margin-bottom: 5%;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.form-reset-password form .top-form>h1 {
    font-size: 1.8em;
    color: #005f73;
}

.form-reset-password form .info-form {
    width: 100%;
    padding: 7%;
}

.form-reset-password form .info-form span {
    text-decoration: underline;
    color: #005f73;
}

.form-reset-password form .bottom-form {
    width: 100%;
    padding: 2%;
}

.form-reset-password form .bottom-form button#accept {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2em;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 1.8em;
}

.form-reset-password form .bottom-form button#accept:hover {
    background-color: #044b5a;
}

.form-reset-password form .bottom-form button#cancel {
    background-color: #c41313;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 5em;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 1.8em;
}

.form-reset-password form .bottom-form button#cancel:hover {
    background-color: #a20f0f;
}

/* Sidenav */

.sidenav {
    height: 80vh;
    width: 6%;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 14px;
    background-color: #005f73;
    border-radius: 0 5px 5px 0;
}

.sidenav ul {
    list-style-type: none;
}

.sidenav ul>li {
    margin-bottom: 1em;
    text-align: center;
}

.sidenav ul>li>a {
    color: #e9d8a6;
    text-decoration: none;
    display: block;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.sidenav ul>li>a>p {
    display: none;
    padding-left: 0.5em;
}

.sidenav ul>li>a>i {
    font-size: 1.3em;
    margin: 0 auto;
    margin-bottom: 0.5em;
}

.sidenav:hover {
    width: 15%;
}

.sidenav:hover ul>li>a>p {
    display: inline-block;
}

.sidenav ul>li>a>p:hover {
    text-decoration: underline;
}

/* Admin Page */

main .welcome {
    width: 100%;
    height: auto;
    margin: 15vh auto;
    border-radius: 5px;
}

main .welcome .welcome-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

main .welcome .welcome-content h1 {
    font-size: 2.5em;
    color: #005f73;
}

main .welcome .welcome-content p {
    font-size: 1.2em;
}

main .welcome .day {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

main .welcome .day span {
    font-size: 1.2em;
    color: #000;
}

main .welcome .day h2>span {
    font-size: 1.2em;
    color: #005f73;
}

/* Create a Post */

main .make-post-container {
    width: 80%;
    height: auto;
    margin: 15vh auto;
    border-radius: 5px;
}

main .make-post-container form {
    width: 100%;
}

main .make-post-container form p > label {
    font-size: 1.2em;
    color: #005f73;
    display: block;
    margin: 0.5em 0;
}

main .make-post-container form p>input {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: .8em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
}

main .make-post-container form p>textarea {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: .8em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
}

main .make-post-container form p>select {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: .8em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
}

main .make-post-container form p>button[type="submit"][name="create"] {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-bottom: 2em;
    margin: 0 auto;
    margin-top: 1.8em;
    width: 35%;
    padding: 1em;
    margin-right: 2em;
}

main .make-post-container form p>button[name="discard"] {
    background-color: #c41313;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-bottom: 2em;
    margin: 0 auto;
    margin-top: 1.8em;
    padding: 1em;
    width: 35%;
}

main .make-post-container form p:last-child {
    text-align: center;
}

/* Posts to Review */

section.apresentation {
    width: 100%;
    height: auto;
    margin: 8vh auto;
    border-radius: 5px;
    text-align: center;
}

section.apresentation>h1 {
    font-size: 2.5em;
    color: #005f73;
    margin: 0 auto;
    margin-bottom: 1em;
    text-decoration: underline;
}

main .posts-to-review {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .posts-to-review .box-last-single {
    display: inline-block;
    text-align: left;
    width: 300px;
    margin-right: 2%;
    max-height: 400px;
    background-color: #FFF;
    padding-bottom: 20px;
    height: 100%;
    min-height: 540px;
    border-radius: 10px;
    margin-bottom: 2%;
    box-shadow: 0px 0px 10px #000;
}

main .posts-to-review .box-last-single .image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

main .posts-to-review .box-last-single .image-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .posts-to-review .box-last-single h3 {
    color: #001219;
    font-size: 0.8rem;
    margin: 20px 0;
}

main .posts-to-review .box-last-single h2 {
    color: #303336;
    font-size: 1.5rem;
}

main .posts-to-review .box-last-single .content-last-single {
    padding: 20px;
}

main .posts-to-review .box-last-single .content-last-single>p {
    color: #7B8591;
    font-size: 1rem;
    margin: 17px 0;
}

main .posts-to-review .box-last-single .content-last-single>a {
    color: #001219;
    font-size: 1rem;
}

/* Single Post */

.new-single {
    width: 100%;
    height: auto;
    margin: 15vh auto;
    border-radius: 5px;
}

.new-single h1 {
    font-size: 2.5em;
    color: #005f73;
    margin: 0 auto;
    margin-bottom: 1em;
    text-decoration: underline;
}

.new-single .category p {
    color: #000;
}

.new-single .category p>span {
    color: #005f73;
}

.new-single .author span {
    color: #000;
}

.new-single .image-container-single {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

.new-single .image-container-single img {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.review-form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    justify-content: center;
    display: flex;
}

.review-form>form {
    display: flex;
}

.review-form form>input,
.review-form>button {
    height: auto;
    padding: .8em 8em;
    margin-right: 1.7em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
    display: inline;
    cursor: pointer;
}

.review-form input:first-child {
    background-color: #09f654;
    color: #fff;
}

.review-form input:nth-child(2) {
    background-color: #c41313;
    color: #fff;
}

.review-form button {
    background-color: #f6ee09;
    color: #000;
}

.review-form input:first-child:hover {
    background-color: #0ed44d;
    color: #fff;
}

.review-form input:nth-child(2):hover {
    background-color: #9b1111;
    color: #fff;
}

.review-form button:hover {
    background-color: #e2da03;
    color: #000;
}

section.edit-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

section.edit-modal .edit-modal-content {
    width: 80vh;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0px 0px 10px #000;
}

section.edit-modal .edit-modal-content .edit-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

section.edit-modal .edit-modal-content .edit-modal-header>h2 {
    color: #005f73;
    font-size: 2em;
}

section.edit-modal .edit-modal-content .edit-modal-header>span.close {
    position: relative;
    top: -1.2em;
    right: -1.2em;
    color: #001219;
    font-size: 1.5rem;
    cursor: pointer;
}

section.edit-modal .edit-modal-content .edit-modal-body h2 {
    color: #001219;
    font-size: 1.5rem;
}

section.edit-modal .edit-modal-content .edit-modal-body form {
    justify-content: center;
    align-items: center;
}

section.edit-modal .edit-modal-content .edit-modal-body form>textarea {
    width: 80%;
    height: auto;
    padding: 1em;
    margin-right: 1em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
    display: block;
    resize: none;
}

section.edit-modal .edit-modal-content .edit-modal-body form>input[type="submit"] {
    background-color: #005f73;
    font-size: 1em;
    color: #e9d8a6;
    padding: .8em;
    margin-right: 1em;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
    display: block;
    width: 40%;
    margin: 2% auto;
}

section.edit-modal .edit-modal-content .edit-modal-body form>input[type="submit"]:hover {
    background-color: #044b5a;
    color: #e9d8a6;
}

/* Make a Post */

.make-post-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.make-post-container .make-post {
    width: 250px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    margin: 2%;
}

.make-post-container .make-post .image-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.make-post-container .make-post .image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.make-post-container .make-post .make-post-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em;
}

.make-post-container .make-post .make-post-content h2 {
    color: #001219;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.make-post-container .make-post .make-post-content a {
    color: #001219;
    font-size: .7;
}

/* Update Post */

.update-post-container {
    width: 80%;
    height: auto;
    margin: 15vh auto;
    border-radius: 5px;
}

.update-post-container form {
    width: 100%;
}

.update-post-container form p > label {
    font-size: 1.2em;
    color: #005f73;
    display: block;
    margin: 0.5em 0;
}

.update-post-container form p>input {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: .8em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
}

.update-post-container form p>textarea {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: .8em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
}

.update-post-container form p>select {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: .8em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
}

.update-post-container form p>button[type="submit"][id="create"] {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-bottom: 2em;
    margin: 0 auto;
    margin-top: 1.8em;
    width: 35%;
    padding: 1em;
    margin-right: 2em;
}

.update-post-container form p>button[id="delete"] {
    background-color: #c41313;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-bottom: 2em;
    margin: 0 auto;
    margin-top: 1.8em;
    padding: 1em;
    width: 35%;
}

.update-post-container form p:last-child {
    text-align: center;
}

/* Employees List */

.employees-list {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

.employees-list .employees-list-header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

.employees-list .employees-list-header > h2 {
    color: #005f73;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.employees-list .employees-list-content > button {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-bottom: 2em;
    margin: 0 auto;
    margin-top: 1.8em;
    width: 35%;
    padding: 1em;
    margin-right: 2em;
    display: block;
    margin: 0 auto;
}

.employees-list .employees-list-content > button:hover {
    background-color: #044b5a;
}

.employees-list .employees-list-content > table {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

.employees-list .employees-list-content > table > thead {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

.employees-list .employees-list-content > table > thead > tr {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .5em;
}

.employees-list .employees-list-content > table > thead > tr > th {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    color: #005f73;
    font-size: 1.2rem;
}

.employees-list .employees-list-content > table > tbody {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

.employees-list .employees-list-content > table > tbody > tr {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

.employees-list .employees-list-content > table > tbody > tr > td {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .5em;
    color: #000;
    font-size: 1.2rem;
}

.employees-list .employees-list-content > table > tbody > tr > td > a {
    color: #005f73;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: .2em
}

.employees-list .employees-list-content > table > tbody > tr > td > a:hover {
    color: #044b5a;
}

.employees-list .employees-list-content > table > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}

.employees-list .employees-list-content > table > tbody > tr:nth-child(odd) {
    background-color: #fff;
}

.employees-list .employees-list-content > table > tbody > tr:hover {
    background-color: #f2f2f2;
}

.employees-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.employees-modal .modal-content {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 0.3em;
}

.employees-modal .modal-content .modal-header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .6em;
}

.employees-modal .modal-content .modal-header > h2 {
    color: #005f73;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.employees-modal .modal-content .modal-body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

.employees-modal .modal-content .modal-body > form {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.employees-modal .modal-content .modal-body > form .form-group {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.employees-modal .modal-content .modal-body > form .form-group > label {
    color: #005f73;
    font-size: 1.2rem;
    margin-bottom: .5em;
}

.employees-modal .modal-content .modal-body > form .form-group > input {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #f2f2f2;
}

.employees-modal .modal-content .modal-body > form .form-group > input:focus {
    outline: none;
}

.employees-modal .modal-content .modal-body > form .form-group > input:hover {
    background-color: #f2f2f2;
}

.employees-modal .modal-content .modal-body > form .form-group .permissions {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #f2f2f2;
}

.employees-modal .modal-content .modal-body > form .form-group .permissions .permissions-item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #f2f2f2;
}

.employees-modal .modal-content .modal-body > form .form-group .permissions .permissions-item > input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #f2f2f2;
}

.employees-modal .modal-content .modal-body > form .form-group .permissions .permissions-item > input[type="checkbox"]:focus {
    outline: none;
}

.employees-modal .modal-content .modal-body > form .btn-add-modal > button {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #005f73;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    margin: 1em auto;
}

.employees-modal .modal-content .modal-body .btn-close-modal > button {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #be1b1b;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.employees-modal .modal-content .modal-body > form .btn-add-modal > button:hover {
    background-color: #044b5a;
}

.employees-modal .modal-content .modal-body .btn-close-modal > button:hover {
    background-color: #8c1b1b;
}

.modal-email-already-exist {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.modal-email-already-exist .modal-content {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 0.3em;
}

.modal-email-already-exist .modal-content .modal-header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .6em;
}

.modal-email-already-exist .modal-content .modal-header > h2 {
    color: #005f73;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.modal-email-already-exist .modal-content .modal-body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

.modal-email-already-exist .modal-content .modal-body > p {
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.modal-email-already-exist .modal-content .modal-body > button {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #005f73;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    margin: 1em auto;
}

.modal-email-already-exist .modal-content .modal-body > button:hover {
    background-color: #044b5a;
}

/* Edit Employee */

.employees-edit-form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.employees-edit-form .employees-edit-form-header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.employees-edit-form .employees-edit-form-header > h2 {
    color: #005f73;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.employees-edit-form .employees-edit-form-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.employees-edit-form .employees-edit-form-content > form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.employees-edit-form .employees-edit-form-content > form .form-group {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.employees-edit-form .employees-edit-form-content > form .form-group > label {
    color: #005f73;
    font-size: 1.2rem;
    margin-bottom: .4em;
}

.employees-edit-form .employees-edit-form-content > form .form-group > input {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #f2f2f2;
}

.employees-edit-form .employees-edit-form-content > form .form-group > input[type="submit"] {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #005f73;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    margin: 1em auto;
}

/* Admin Profile */

.user-profile {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.user-profile .user-profile-header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.user-profile .user-profile-header > h2 {
    color: #005f73;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.user-profile .user-profile-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.user-profile .user-profile-content > form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.user-profile .user-profile-content > form .user-profile-content-info {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.user-profile .user-profile-content > form .user-profile-content-info-item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.user-profile .user-profile-content > form .user-profile-content-info-item > label {
    color: #005f73;
    font-size: 1.2rem;
    margin-bottom: .4em;
}

.user-profile .user-profile-content > form .user-profile-content-info-item > input {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #f2f2f2;
}

.user-profile .user-profile-content > form .user-profile-content-actions {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
}

.user-profile .user-profile-content > form .user-profile-content-actions > button {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: .4em;
    border-radius: 0.3em;
    border: none;
    background-color: #005f73;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    margin: 1em auto;
}

.user-profile .user-profile-content > form .user-profile-content-actions > button:hover {
    background-color: #044b5a;
}

#password-not-match {
    border: 1px solid #f00;
}

.error-message {
    display: none;
    color: #f00;
    font-size: 1.2rem;
    margin-bottom: 1em;
}