* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

/** Header **/

header {
    width: 100%;
    padding: 8px 0;
    background-color: #005f73;
    text-align: center;
}

header>.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: left;
}

.logo h2 {
    margin-top: 0.4%;
    display: inline-block;
}

.logo a {
    text-decoration: none;
    color: #e9d8a6;
}

.logo>i {
    font-size: 1.5em;
    margin-right: 0.3em;
    color: #e9d8a6;
}

/* Header in Dashboard */
.user-account {
    width: 50%;
    text-align: right;
}

.user-account .user-account-info {
    display: inline-block;
    margin-right: 0.5em;
}

.user-account .user-account-info i,
span {
    margin-right: 0.3em;
    color: #e9d8a6;
}

.user-account .user-account-info span:nth-child(3) {
    font-size: 0.8em;
}

.user-account .user-account-actions {
    display: inline-block;
}

.user-account a {
    text-decoration: none;
    color: #e9d8a6;
}

/* Login Form */

.login-form {
    width: 30%;
    height: auto;
    text-align: center;
    margin: 15vh auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form .top-form {
    background-color: #e9d8a6;
    padding: 1.5em;
    margin-bottom: 10%;
    border-radius: 5px 5px 0 0;
}

.login-form .top-form>h1 {
    font-size: 1.8em;
    color: #005f73;
}

.login-form form {
    width: 100%;
    padding: 2% 0;
    text-align: center;
}

.login-form input {
    width: 75%;
    padding: 0.5em;
    margin-bottom: 2em;
    border-radius: 0.3em;
    color: #005f73;
    padding: 1em;
    border: none;
}

.login-form input:focus {
    outline: none;
}

.login-form input[type="submit"] {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    padding: 1em;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
}

.login-form input[type="submit"]:hover {
    background-color: #044b5a;
}

.login-form a {
    margin-bottom: 2em;
}

.login-form a > p{
    color: #044b5a;
    font-size: 0.8em;
    margin-top: 0.5em;
}

#error-message {
    display: none;
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
}

/* Forget Password Form */

.form-forget-password {
    width: 30%;
    height: auto;
    text-align: center;
    margin: 15vh auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-forget-password .top-form {
    background-color: #e9d8a6;
    padding: 1.5em;
    margin-bottom: 10%;
    border-radius: 5px 5px 0 0;
}

.form-forget-password .top-form > h1 {
    font-size: 1.8em;
    color: #005f73;
}

.form-forget-password form {
    width: 100%;
    padding: 2% 0;
    text-align: center;
}

.form-forget-password form input {
    width: 75%;
    padding: 0.5em;
}

.form-forget-password form input[type="email"] {
    margin-bottom: 2em;
    padding: 1em;
    border: none;
    border-radius: 0.3em;
}

.form-forget-password form input[type="email"]:focus {
    outline: none;
}

.form-forget-password form input[type="submit"] {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2em;
}

.form-forget-password form input[type="submit"]:hover {
    background-color: #044b5a;
}

.modal-success {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.modal-success .modal-content {
    background-color: #fff;
    width: 40%;
    height: auto;
    margin: 27vh auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2em;
}

.modal-success .modal-content h1 {
    font-size: 1.8em;
    color: #005f73;
}

.modal-success .modal-content p {
    font-size: 1em;
}

.modal-success .modal-content button {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2em;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 1.8em;
}

.modal-success .modal-content button:hover {
    background-color: #044b5a;
}

.form-forget-password > #error-message {
    padding: 0.5em;
}

/* Reset Password Form */

.form-reset-password {
    width: 40%;
    height: auto;
    margin: 15vh auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-reset-password form {
    width: 100%;
}

.form-reset-password form .top-form {
    background-color: #e9d8a6;
    padding: 1.5em;
    margin-bottom: 5%;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.form-reset-password form .top-form > h1 {
    font-size: 1.8em;
    color: #005f73;
}

.form-reset-password form .info-form {
    width: 100%;
    padding: 7%;
}

.form-reset-password form .info-form span {
    text-decoration: underline;
    color: #005f73;
}

.form-reset-password form .bottom-form {
    width: 100%;
    padding: 2%;
}

.form-reset-password form .bottom-form button#accept {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2em;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 1.8em;
}

.form-reset-password form .bottom-form button#accept:hover {
    background-color: #044b5a;
}

.form-reset-password form .bottom-form button#cancel {
    background-color: #c41313;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 5em;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 1.8em;
}

.form-reset-password form .bottom-form button#cancel:hover {
    background-color: #a20f0f;
}
/* Sidenav */

.sidenav {
    height: 80vh;
    width: 6%;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 14px;
    background-color: #005f73;
    border-radius: 0 5px 5px 0;
}

.sidenav ul {
    list-style-type: none;
}

.sidenav ul > li {
    margin-bottom: 1em;
    text-align: center;
}

.sidenav ul > li > a {
    color: #e9d8a6;
    text-decoration: none;
    display: block;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.sidenav ul > li > a > p {
    display: none;
    padding-left: 0.5em;
}

.sidenav ul > li > a > i {
    font-size: 1.3em;
    margin: 0 auto;
    margin-bottom: 0.5em;
}

.sidenav:hover {
    width: 15%;
}

.sidenav:hover ul > li > a > p {
    display: inline-block;
}

.sidenav ul > li > a > p:hover {
    text-decoration: underline;
}

/* Admin Page */

main .welcome {
    width: 100%;
    height: auto;
    margin: 15vh auto;
    border-radius: 5px;
}

main .welcome .welcome-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

main .welcome .welcome-content h1 {
    font-size: 2.5em;
    color: #005f73;
}

main .welcome .welcome-content p {
    font-size: 1.2em;
}

main .welcome .day {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
}

main .welcome .day span {
    font-size: 1.2em;
    color: #000;
}

main .welcome .day h2 > span {
    font-size: 1.2em;
    color: #005f73;
}

/* Make a Post */

main .make-post-container {
    width: 80%;
    height: auto;
    margin: 15vh auto;
    border-radius: 5px;
}

main .make-post-container form {
    width: 100%;
}

main .make-post-container form p > label {
    font-size: 1.2em;
    color: #005f73;
    display: block;
    margin: 0.5em 0;
}

main .make-post-container form p > input {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: .8em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
}

main .make-post-container form p > textarea {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: .8em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
}

main .make-post-container form p > select {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: .8em;
    border-radius: 0.3em;
    border: 1px solid #bfc8ca;
    color: #000;
}

main .make-post-container form p > button[type="submit"][name="create"] {
    background-color: #005f73;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-bottom: 2em;
    margin: 0 auto;
    margin-top: 1.8em;
    width: 35%;
    padding: 1em;
    margin-right: 2em;
}

main .make-post-container form p > button[type="submit"][name="discard"] {
    background-color: #c41313;
    color: #e9d8a6;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-bottom: 2em;
    margin: 0 auto;
    margin-top: 1.8em;
    padding: 1em;
    width: 35%;
}

main .make-post-container form p:last-child {
    text-align: center;
}