* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

/** Header **/

header {
    width: 100%;
    padding: 8px 0;
    background-color: #005f73;
    text-align: center;
}

.logo {
    width: 50%;
    text-align: left;
} 

.logo h2 {
    margin-top: 0.4%;
    display: inline-block;
}

.logo a {
    text-decoration: none;
    color: #e9d8a6;
}

.logo > i {
    font-size: 1.5em;
    margin-right: 0.3em;
    color: #e9d8a6;
}

.form-search {
    width: 50%;
    text-align: right;
}

.form-search form {
    display: inline-block;
    position: relative;
}

.form-search i {
    position: absolute;
    left: 10px;
    top: 9px;
    font-size: 20px;
    color: #94d2bd;
}

.form-search input {
    height: 40px;
    border: none;
    color: #e9d8a6;
    background-color: #001219;
    padding-left: 40px;
    font-size: 15px;
    border-radius: 8px
}

.form-search input:focus { 
    outline: none;
}

::placeholder {  /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8f8159; 
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 11-11 */
    color: #8f8159;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #8f8159;
}

/*Top News*/

section.top-news {
    padding: 40px 0;
}

section.top-news > .center {
    max-width: 960px;
}

.author {
    position: absolute;
    color: white;
    z-index: 2;
    padding: 30px;
    text-transform: uppercase;
}

.author > span {
    margin-left: 10px;
    font-weight: 300;
    font-size: 0.8rem;
}

.featured-img {
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.featured-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.highlight-title-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 55px;
    max-width: 600px;
    color: white;
    z-index: 2;
}

.highlight-title-desc > h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
}

/* Other News */

section.other-news {
    background-color: #EAEAEA;
    padding: 30px 0;
    text-align: center;
}

section.other-news h1 {
    font-size: 3.3rem;
    margin-bottom: 80px;
}

.last-news {
    width: 60%;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.most-read {
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.most-read > h3 {
    background-color: #0A9396;
    color: #E9D8A6;
    text-align: center;
    letter-spacing: 0.35px;
    padding: 10px 8px;
    border-radius: 10px 10px 0px 0px;
}

.box-last-single {
    text-align: left;
    width: 48%;
    margin-right: 2%;
    background-color: #FFF;
    padding-bottom: 20px;
    height: 100%;
    border-radius: 10px;
}

.box-last-single img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.box-last-single h3 {
    color: #001219;
    font-size: 0.8rem;
    margin: 20px 0;
}

.box-last-single h2 {
    color: #303336;
    font-size: 1.5rem;
}

.content-last-single {
    padding: 20px;
    
}

.content-last-single p {
    color: #7B8591;
    font-size: 1rem;
    margin: 17px 0;
}

.content-last-single a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #0AACDC;
    text-align: center;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    margin: 25px 0;
}

.content-last-single a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.content-last-single a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Most Read */

.most-read-news-single {
    display: flex;
    padding: 30px;
    text-align: left;
}

.most-read-news-single img {
    width: 40%;
    height: 100%;
}

.most-read-news-single .text-most-read-news-single {
    width: 70%;
    padding: 0 20px;
}

.text-most-read-news-single h4 {
    color: #40BE65;
    letter-spacing: 1px;
}

.text-most-read-news-single p {
    color: #7B8591;
    font-size: .8rem;
}

.text-most-read-news-single a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #0AACDC;
    text-align: center;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    margin: 12px 0;
}

.text-most-read-news-single a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.text-most-read-news-single a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Footer*/

footer {
    text-align: center;
    padding: 30px 0;
}

footer .contacts-single {
    display: inline-block;
    margin: 0 28px;
}

footer .contacts-single p {
    display: inline-block;
}

footer .contacts-single i {
    margin-right: 3px;
}

/* New page */

section.new {
    padding: 30px 0;
    background-color: #EAEAEA;
}

.new-single {
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    width: 58%;
    margin-right: 2%;
}

.new-single h1 {
    color: #303336;
    font-size: 1.8rem;
}

.new-single .author {
    display: inline-block;
    color: #858585;
    position: relative;
    padding: 0;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px 0;
}

.new-single p {
    color: #7B8591;
    font-size: 1rem;
    line-height: 24px;
 }

 .new-single h2 {
    color: #757f92;
    font-size: 1.5rem;
    margin: 10px 0;
 }

/*Responsive*/

@media screen and (max-width: 768px) {
    .logo, .form-search { 
        width: 100%; 
        margin: 7px;
        text-align: center;
    }
    .new-single {
        width: 100%;
        margin-bottom: 20px;
    }
    .highlight-title-desc {
        padding: 30px;
        max-width: 100%;
        
    }
    .highlight-title-desc h1 {
        font-size: 20px;
        margin: 20px 0;
    }
    .highlight-title-desc p {
        font-size: 14px;
    }
    .author {
        display: none;
    }
    .other-news .title-other-news h1{
        font-size: 2rem;
        margin-bottom: auto;
    }
    .most-read, .last-news {
        width: 100%;
    }
    .box-last-single {
        width: 100%;
        margin-right: 0;
        margin: 12px 0;
    }
    .last-news {
        height: 100%;
    }
    footer {
        text-align: center;
        padding: 30px 0;
    }
    
    footer .contacts-single {
        display: inline-block;
        margin: auto;
        padding: 5px;
    }
    
    footer .contacts-single p {
        display: block;
    }
}