<%- include('partials/header-admin.ejs') %>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa-solid fa-newspaper"></i>
                <h2><a href="/admin/login">Lumyun<span style="font-weight: 300;">News</span></a></h2>
            </div>
        </div>
    </header>
    <main>
        <div class="form-forget-password">
            <div class="top-form">
                <h1>Esqueci a minha password</h1>
            </div>
            <form method="post">
                <input type="email" name="email" placeholder="Email" required />
                <input type="submit" name="submit" value="Enviar" />
            </form>
            <p id="error-message"">Este email não existe</p>
        </div>
    </main>
    <section class="modal-success">
        <div class="modal-content">
            <h1>Email enviado com sucesso!</h1>
            <p>Foi enviado um pedido para a adminstração para resetarem a tua password.</p>
            <button onclick="closeModal()">Fechar</button>
        </div>
    </section>
</body>