<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumyun News - Dashborad</title>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/98221d8909.js" crossorigin="anonymous"></script>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../public/admin.css">
</head>

<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa-solid fa-newspaper"></i>
                <h2><a href="#">Lumyun<span style="font-weight: 300;">News</span></a></h2>
            </div>
            <div class="user-account">
                <div class="user-account-info">
                    <i class="fa-solid fa-user"></i>
                    <span>Admin</span>
                </div>
                <div class="user-account-actions">
                    <a href="logout">
                        <i class="fa-solid fa-sign-out-alt"></i>
                        <span>Sair</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <nav class="sidebar">
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-home"></i>
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a href="profile">
                    <i class="fa fa-user"></i>
                    <p>My Profile</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-circle-plus"></i>
                    <p>Make a Post</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-eye"></i>
                    <p>Review Posts</p>
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>