<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumyun News - Administration</title>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/98221d8909.js" crossorigin="anonymous"></script>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../../public/admin.css">
    <!--JavaScript-->
    <script src="../../public/js/script.js"></script>
</head>

<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa-solid fa-newspaper"></i>
                <h2><a href="/admin/login">Lumyun<span style="font-weight: 300;">News</span></a></h2>
            </div>
        </div>
    </header>
    <main>
        <div class="center">
            <div class="form-reset-password">
                <form method="post">
                    <div class="top-form">
                        <h1>Redefinir passowrd</h1>
                    </div>
                    <div class="info-form">
                        <p>O funcionário <span><%= user %></span>(email: <span><%= email %></span>), fez um pedido para que a sua password seja redefinida.</p>
                    </div>
                    <div class="bottom-form">
                        <button type="submit" name="submit" value="accept" id="accept">Aceitar</button>
                        <button type="submit" name="submit" value="cancel" id="cancel">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="center">
            <div class="modal-success">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Email enviado</h2>
                    </div>
                    <div class="modal-body">
                        <p>Foi enviado um email para <span>
                                <%= email %>
                            </span> com a nova password.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close" onclick="closeModal()">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>