<%- include('partials/header-admin.ejs') %> 
<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa-solid fa-newspaper"></i>
                <h2><a href="/admin/login">Lumyun<span style="font-weight: 300;">News</span></a></h2>
            </div>
        </div>
    </header>
    <section class="login-form">
        <div class="top-form">
            <h1>Login</h1>
        </div>
        <form method="post">
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="submit" name="submit" value="Login" />
            <p id="error-message">Email ou password incorretos!</p>
            <a href="forgot-password"><p>Esqueci a minha password</p></a>
        </form>
    </section>
</body>
</html>