<%- include('partials/header.ejs') %>
<br>
</br>
<div class="center">
    <div style="width: 100%;" class="most-read">
        <h3>4 Resultados</h3>
        <div class="most-read-news">
            <div class="most-read-news-single">
                <img src="/public/images/natureza.jpg" alt="natureza">
                <div class="text-most-read-news-single">
                    <h4>Natureza</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, corporis.</p>
                    <a href="/nature">SAIBA MAIS</a>
                </div>
            </div>
            <div class="most-read-news-single">
                <img src="/public/images/natureza.jpg" alt="natureza">
                <div class="text-most-read-news-single">
                    <h4>Natureza</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, corporis.</p>
                    <a href="/nature">SAIBA MAIS</a>
                </div>
            </div>
            <div class="most-read-news-single">
                <img src="/public/images/natureza.jpg" alt="natureza">
                <div class="text-most-read-news-single">
                    <h4>Natureza</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, corporis.</p>
                    <a href="/nature">SAIBA MAIS</a>
                </div>
            </div>
            <div class="most-read-news-single">
                <img src="/public/images/natureza.jpg" alt="natureza">
                <div class="text-most-read-news-single">
                    <h4>Natureza</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, corporis.</p>
                    <a href="/nature">SAIBA MAIS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>