<footer>
    <div class="contacts">
        <div class="center">
            <div class="contacts-single">
                <i class="fa-solid fa-phone"></i>
                <p>+351 9XX XXX XXX</p>
            </div>
            <div class="contacts-single">
                <i class="fa-solid fa-envelope"></i>
                <p>lumyunnews@gmail.com</p>
            </div>
            <div class="contacts-single">
                <i class="fa-solid fa-map-marker-alt"></i>
                <p>Rua do Aleixo, nº 256, Santa Maria da Feira</p>
            </div>
            <div class="contacts-single">
                <p>© 2021-2022 Lumyun News</p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>