<div class="most-read">
    <h3>AS MAIS LIDAS</h3>
    <div class="most-read-news">
        <% for(let i = 0; i < postsTop.length; i++) { %>
        <div class="most-read-news-single">
            <img src="<%= postsTop[i].image %> ">
            <div class="text-most-read-news-single">
                <h4><%= postsTop[i].title %></h4>
                <p><%= postsTop[i].description %></p>
                <a href="<%= postsTop[i].slug %> ">SAIBA MAIS</a>
            </div>
        </div>
        <% } %>
    </div>
</div>