<nav class="sidenav">
    <ul>
        <li>
            <a href="">
                <i class="fa fa-home"></i>
                <p>Home</p>
            </a>
        </li>
        <li>
            <a href="profile">
                <i class="fa fa-user"></i>
                <p>My Profile</p>
            </a>
        </li>
        <li>
            <a href="make-post">
                <i class="fa-solid fa-circle-plus"></i>
                <p>Make a Post</p>
            </a>
        </li>
        <li>
            <a href="reviews">
                <i class="fa-solid fa-eye"></i>
                <p>Review Posts</p>
            </a>
        </li>
    </ul>
</nav>