<nav class="sidenav">
    <ul>
        <li>
            <a href="">
                <i class="fa fa-home"></i>
                <p>Home</p>
            </a>
        </li>
        <li>
            <a href="employees">
                <i class="fa fa-user"></i>
                <p>Funcionários</p>
            </a>
        </li>
        <li>
            <a href="make-post">
                <i class="fa-solid fa-circle-plus"></i>
                <p>Criar Notícia</p>
            </a>
        </li>
        <li>
            <a href="reviews">
                <i class="fa-solid fa-eye"></i>
                <p>Revisar Notícia</p>
            </a>
        </li>
    </ul>
</nav>